{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": ["import"],
  "rules": {
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc" },
        "newlines-between": "always"
      }
    ],
    "no-lonely-if": "error",
    "no-param-reassign": "error",
    "object-shorthand": "error",
    "@typescript-eslint/ban-ts-comment": "warn",

    // https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/FAQ.md#i-am-using-a-rule-from-eslint-core-and-it-doesnt-work-correctly-with-typescript-code
    "no-unused-vars": "off",
    // TODO: remove options if function signature problem is solved
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }]
  },
  "env": {
    "jest": true
  }
}
